$primaryDark: #001524;
$primaryColor: #15616d8e;
$primaryLight: #FFECD1;
$primaryColorPop: #FF7D00;
$primaryDarkPop: #78290fa1;

$tabColor1: #067BC2;
$tabColor2: #84BCDA;
$tabColor3: #ECC30B;
$tabColor4: #F37748;
$tabColor5: #D56062;
$tabColor6: darken(#C2EABD, 10%);
$tabColor7: #15616d;
