* {
    box-sizing: border-box;
}

#header {
    width: 100%;
    padding: 5vh 0;
}

.folder-icon {
    width: 180px;
    margin: auto;
}

#menu {
    position: relative;
    max-width: 320px;
    min-height: 300px;
    margin: 0 auto;
}

#menu:hover {
    z-index: 0;
    .pop-icon{
        visibility: visible;
    }
    #menu-news {
        transform: translate(0, -140px) scale(1.2);
    }
    #menu-style {
        transform: translate(100px, -110px) scale(1.2);
    }
    #menu-gallery {
        transform: translate(130px, 0) scale(1.2);
    }
    #menu-game {
        transform: translate(100px, 110px) scale(1.2);
    }
    #menu-dashboard {
        transform: translate(0, 130px) scale(1.2);
    }
    #menu-directory {
        transform: translate(-100px, 110px) scale(1.2);
    }
    #menu-linkedin {
        transform: translate(-130px, 0) scale(1.2);
    }
    #menu-contact {
        transform: translate(-100px, -110px) scale(1.2);
    }
}

.pop-icon {
    visibility: hidden;
    position: absolute;
    width: 30px;
    top: 48%;
    right: 45%;
    transition: all .5s;
}