* {
    box-sizing: border-box;
}

#header {
    width: 100%;
    padding: 5vh 0;
}

.folder-icon {
    width: 180px;
    margin: auto;
}

#menu {
    position: relative;
    max-width: 320px;
    min-height: 300px;
    margin: 0 auto;
}

#menu:hover {
    z-index: 0;
    .pop-icon{
        display: block;
    }
    #menu-news {
        top: 0%;
        right: 45%;
    }
    #menu-style {
        top: 10%;
        right: 10%;
    }
    #menu-gallery {
        top: 50%;
        right: 0%;
    }
    #menu-game {
        top: 85%;
        right: 10%;
    }
    #menu-dashboard {
        top: 90%;
        right: 45%;
    }
    #menu-directory {
        top: 82%;
        right: 80%;
    }
    #menu-linkedin {
        top: 45%;
        right: 85%;
    }
    #menu-contact {
        top: 10%;
        right: 80%;
    }
}

.pop-icon {
    // display: none;
    position: absolute;
    width: 30px;
    top: 48%;
    right: 45%;
}